[*.cs]

# CA1824: Mark assemblies with NeutralResourcesLanguageAttribute
dotnet_diagnostic.CA1824.severity = silent

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = none

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = silent
