[*.cs]

# S927: Parameter names should match base declaration and other partial definitions
dotnet_diagnostic.S927.severity = none

# S1066: Collapsible "if" statements should be merged
dotnet_diagnostic.S1066.severity = none

# S4457: Parameter validation in "async"/"await" methods should be wrapped
dotnet_diagnostic.S4457.severity = silent

# S3267: Loops should be simplified with "LINQ" expressions
dotnet_diagnostic.S3267.severity = silent
